# PostgreSQL
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=postgres

# Odoo
ODOO_PORT=8069
ODOO_DB_NAME=neobotseller
ODOO_ADMIN_PASSWORD=admin
ODOO_MASTER_PASSWORD=admin_master_change_me

# Credenciales del usuario admin de Odoo (creadas en init)
ODOO_LOGIN=admin
ODOO_USER_PASSWORD=admin
